
      
      
      
      <div  class="modal-header">
            <h3 class="modal-title" id="modal-title">Details</h3>
        </div>
        <div     class="modal-body" ng-controller="editData-ctrl" style = "overflow-x: auto; position: relative; overflow-y: auto;" id="modal-body">
            
            <div  class="container">
                <div class="row">
                <div  class="col-sm">

                    <table  style="width: 1300px" st-table="entries" st-safe-src="rowCollection" style="margin : 0px;color: black" class="table">
                      <div style=" color:blue; ">
                        {{detailsmodaldata.auditType}}-{{detailsmodaldata.year}}-{{detailsmodaldata.station}}-{{detailsmodaldata.subStation}}
                    </div>
                      
                      
                      <thead>
                           
                            <tr>
                              
                                <th>Sr. no</th>
                                <th style="width: 100px">General Observations</th>
                                <th  style="width: 150px">Recommendations</th>
                                <th  style="width: 150px">Target Date</th>
                               <th style="width: 100px">Current Status</th>
                                <th style="width: 100px">Action taken</th>
                                <th style="width: 100px">Compliance Status</th>
                                <th style="width: 100px">Action taken by</th>
                                <th style="width: 100px">Remarks</th>
                                <th style="width: 100px">Edited Date</th>
                                <th style="width: 100px">Employee ID</th>
                              
                            
                             
                              
                                   </tr>
                                  
                         
                      </thead>
                      <tbody>

                        <tr ng-repeat="data in entries">
                          
                          
      

                        <!-- <div style=" color:blue; ">
                          {{detailsmodaldata.auditType}}-{{detailsmodaldata.year}}-{{detailsmodaldata.station}}-{{detailsmodaldata.subStation}}
                      </div> -->
                      <td> {{$index+1}}</td>
                    
                    <td>    
                      <span></span>
                      {{ data.generalObservations || '-' }}
                     
                    </td>
                    <td>    
                      
                      {{ data.recommendations || '-' }}
                      
                    </td>
                    <td>    
                      
                      {{ data.targetDate || '-' }}
                     
                    </td>
                    <td>    
                      
                      {{ data.currentStatus || '-' }}
                      
                    </td>
                    <td>    
                      
                      {{ data.actionTaken || '-' }}
                      
                    </td>
                    <td>    
                      
                      {{ data.complianceStatus || '-' }}
                      
                    </td>
                    <td>    
                      
                      {{ data.actionTakenBy || '-' }}
                      
                    </td>
                    <td>    
                      
                      {{ data.remarks || '-' }}
                      
                    </td>
                    <td>    
                      
                      {{ data.editDate |  date : "mediumDate" || '-' }}
                      
                    </td>
                    <td>    
                      
                      {{ data.empID || '-' }}
                      
                    </td>
                  </tr>
                </tbody>
</table>
                   
                      </div>
                     
                 



                  





  
                   
                </div>
                </div>
            </div>
            
            <div class="modal-footer">
              <!-- <button class="btn btn-primary" type="button" ng-click="pc.ok()">OK</button> -->
                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            </div>
       
